@import "tailwindcss";
@plugin "daisyui";

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans.ttf') format('truetype');
    font-weight: 300 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: 300 800;
    font-style: italic;
    font-display: swap;
}

@theme {

    --font-sans: 'Open Sans', sans-serif;

    --color-primary-brand: #23E095;
    --color-secondary-brand: #D69BCC;
    --color-background-brand: #0C0D1E;
    --color-text-brand: #EBEBEB;
    --color-primary-gradient: #80DEE9;
    --color-secondary-gradient: #FA819F;
    --color-primary-brand-hover: #1AC17F;
}

@layer utilities {
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hidden {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .divider-white::before,
    .divider-white::after {
        background-color: var(--color-text-brand);
    }

}