@import "tailwindcss";
@plugin "daisyui";

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans.ttf') format('truetype');
    font-weight: 300 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: 300 800;
    font-style: italic;
    font-display: swap;
}

@theme {

    --font-sans: 'Open Sans', sans-serif;

    --color-primary-brand: #23E095;
    --color-secondary-brand: #D69BCC;
    --color-gradient: linear-gradient(180deg, #23E095 0%, #80DEE9 100%);
    --color-secondary-gradient: linear-gradient(180deg, #D69BCC 0%, #FA819F 100%);
    --color-background-brand: #0C0D1E;
    --color-text-brand: #EBEBEB;

    --color-primary-brand-hover: #1AC17F;
}

@layer utilities {
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hidden {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}